/*navbar*/
.navbar-custom {
	margin-bottom: 0;
	border-color: transparent;
	text-transform: uppercase;
	background-color: black;
}

@media (min-width: 768px) {
	/*.container {
	  width: 900px;
	}*/
	.navbar-custom {
		padding: 15px 0;
		border-bottom: 0;
		letter-spacing: 1px;
		background: 0 0;
		-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
		transition: background .5s ease-in-out, padding .5s ease-in-out;
	}
	.navbar-custom.top-nav-collapse {
		padding: 8px 0;
		background: #000;
	}
}

/*introduction*/
#intro {
	background: url(../img/seattle.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #000;
	color: #000;
}

#intro .overlay {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
	/* IE6-9 */
	height: 750px;
	background-attachment: fixed;
}

#intro h1 {
	color: #FFF;
	font-size: 60px;
	font-weight: 300;
	letter-spacing: 3px;
}

#intro p.subtitle {
	color: #ddd;
}

.intro-content {
	position: absolute;
	padding: 20% 0 5% 0;
	left: 0;
	right: 0;
	z-index: 0;
}

a.fa.fa-angle-down {
    padding: 10px 14px;
    color: #aaa;
    font-size: 50px;
    margin-top: 175px;
    transition: all 0.5s;
}

a.fa.fa-angle-down:hover {
    color: #fff;
    text-decoration: none;
}

/*about*/
#about {
    padding-top: 90px;
    padding-bottom: 100px;
}

#about img{
	border-radius: 50%;
	width: 300px;
    height: auto;
    margin-bottom: 30px;
}

#about h1 {
	margin-top: 20px;
	margin-bottom: 30px;
}

/*experience*/
#experience {
    padding-top: 90px;
    padding-bottom: 100px;
}

#experience h1 {
	margin-top: 20px;
	margin-bottom: 30px;
}

#school .school-icon img {
	margin-top: 15px;
	margin-bottom: 15px;
    width: 90px;
    height: auto;
}

#skills .skill-icon img {
    margin: 0 auto;
    width: 75px;
    height: 75px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    mix-blend-mode: multiply;
    margin-top: 15px;
    margin-bottom: 15px;
}

#skills .skill-icon img:hover {
    -webkit-filter: none;
    filter: none;
    mix-blend-mode: multiply;
}

/* ======= RESUME ======= */

#resume {
    background: url(../img/laptop-blur.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000;
    color: #fff;
}

#resume .overlay {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
    /* IE6-9 */
    padding: 80px 0;
    background-attachment: fixed;
}

#resume h2 {
    color: #fff;
}

a.resume-btn {
    background: none;
    display: inline-block;
    padding: 10px 20px;
    color: #ddd;
    border: 2px solid #ccc;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

a.resume-btn:hover,
a.resume-btn:active {
    /*background-position: -100% 100%;*/
    color: #fff;
    /*font-weight: 400;*/
    border: 2px solid #ccc;
    background-color: rgba(254, 254, 254, 0.2);
    padding: 10px 30px;
}

/* ======= PORTFOLIO ======= */

#portfolio {
    padding-top: 90px;
    padding-bottom: 100px;
    background: #fff;
}

#portfolio * {
    z-index: 2;
}

#portfolio .portfolio-row {
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 950px) {
    #portfolio .portfolio-row {
        margin-left: 0px;
        margin-right: 0px;
    }
}

#portfolio .section-heading {
    padding-bottom: 0px;
    margin-bottom: 20px;
}

#portfolio .coming-soon {
    margin-bottom: 50px;
    text-transform: lowercase;
}

#portfolio .portfolio-item-wrapper {
    width: 31%;
    display: inline-block;
    padding: 0 0 5px;
    margin: 0 1% 30px;
    vertical-align: top;
}

@media (max-width: 950px) {
    #portfolio .portfolio-item-wrapper {
        width: 47%;
    }
}

@media (max-width: 630px) {
    #portfolio .portfolio-item-wrapper {
        width: 100%;
    }
}

#portfolio .portfolio-item {
    display: block;
    -webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
    padding: 0;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#portfolio .portfolio-item img {
    max-width: 100%;
    width: 100%;
    opacity: 1.0;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

#portfolio .portfolio-overlay {
    position: absolute;
    background-color: rgba(26, 30, 31, 0.85);
    width: 100%;
    height: 100%;
    opacity: 0;
}

#portfolio .portfolio-info,
#portfolio .links,
#portfolio .links a i,
#portfolio .links a i::after,
#portfolio .portfolio-overlay {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

#portfolio .links {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 36%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    transform: translate(0, -50px);
}

#portfolio .links a i {
    position: relative;
    color: #fff;
    font-size: 24px;
    margin: 0 13px;
    z-index: 100;
}

#portfolio .links a:hover i {
    color: #fff;
}

#portfolio .links a i::after {
    position: absolute;
    content: "";
    left: -7px;
    top: -7px;
    width: 30px;
    height: 30px;
    /*border: 1px solid #fff;*/
    z-index: -1;
    border-radius: 50%;
}

#portfolio .links a:hover i::after {
    /*background: rgba(255, 255, 255, 0.2);*/
}

#portfolio .portfolio-info {
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: #00009C;
    color: #fff;
    height: 45px;
    width: 100%;
    text-align: center;
}

#portfolio .portfolio-item:hover .portfolio-overlay,
#portfolio .portfolio-item:hover .links {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

#portfolio .portfolio-item:hover .portfolio-info {
    bottom: 0;
}

#portfolio .portfolio-info h3 {
    font-size: 14px;
    line-height: 45px;
    font-weight: 400;
    margin: 0;
}

/* ============== PORTFOLIO MODALS ============== */

.modal-header,
.modal-footer {
    background-color: #F0F0F0;
}

.modal-header .close {
    margin-top: -13px;
}

.close {
    font-size: 40px;
    font-weight: 300;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    }
}

.modal-title {
    text-align: center;
    font-weight: 400;
}

.modal-title-description {
    text-align: center;
    margin: 10px 0 0 -25px;
    font-style: italic;
    font-weight: 400;
    color: #555;
}

.modal-content {
    border-radius: 0px;
}

.modal-body img {
    margin: 0 auto;
}

.modal-body p {
    text-align: center;
}

@media (max-width: 340px) {
    .modal-body p {
        font-size: 14px;
    }
}

.modal-body p.visit {
    margin-top: 50px;
}

.modal-body #visit-btn {
    padding: 10px;
    color: #00009C;
    border: 2px solid #00009C;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 40px 10px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.modal-body #visit-btn:hover {
    color: #fff;
    background-color: #00009C;
}

.modal-description {
    font-size: 15px;
    margin: 0px 25px;
}

@media (max-width: 340px) {
    .modal-description {
        margin: 0;
    }
}

.modal-footer .btn {
    border-radius: 0px;
    font-family: 'Lato', sans-serif;
}

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #fed136;
}

.img-responsive-ht{
  display: block;
  width: auto;
  max-height: 100%
}

/* ======= CONTACT ======= */

#contact {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #F0F0F0;
}

.email-icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    max-width: 100%;
    font-size: 55px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0 auto 10px;
}

#contact p {
    font-size: 16px;
    font-weight: 300;
    max-width: 450px;
    margin: 0 auto;
}

#contact #email-button {
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    /*border-radius: 30px;*/
    border: 2px solid #000;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#contact #email-button:hover {
    color: #fff;
    background: #00009C;
    border: 2px solid #00009C;
}

@media screen and (max-width: 480px) {
    #contact {
        padding: 15px 10px 50px;
    }
}


/* ======= FOOTER ======= */

footer {
    color: #fff;
    background-color: #222;
    padding-top: 50px;
}

footer h3 {
    font-weight: 300;
}

ul.social-buttons {}

ul.social-buttons li a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    outline: 0;
    color: rgba(255, 255, 255, 0.8);
    background: #333;
    /*border-radius: 50%;*/
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

@media screen and (max-width: 480px) {
    ul.social-buttons li a {
        display: block;
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        outline: 0;
        color: rgba(255, 255, 255, 0.8);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
}

@media screen and (max-width: 340px) {
    ul.social-buttons li a {
        width: 37px;
        height: 37px;
    }
}

ul.social-buttons li a:hover,
ul.social-buttons li a:active {
    color: #FFF;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.list-inline>li {
    padding: 0px !important;
}

#facebook,
#twitter,
#instagram,
#linkedin,
#codepen,
#github,
#pinterest,
#spotify {
    /*border: 1px solid #fff !important;*/
}

#facebook:hover {
    background-color: #3B5998;
}

#twitter:hover {
    background-color: #55ACEE;
}

#instagram:hover {
    background-color: #3f729b;
}

#codepen:hover {
    background-color: #fff;
    color: #000;
}

#linkedin:hover {
    background-color: #0077B5
}

#github:hover {
    background-color: #4183C4;
}

#pinterest:hover {
    background-color: #CC2127;
}

#spotify:hover {
    background-color: #2ebd59;
}

#kaggle:hover{
    background-color: #2ebd59;
}

#to-top {
    transition: all 0.5s;
}

#to-top:hover {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}

#to-top img {
    width: 50px;
    padding: 5px;
    margin: 10px auto 0px;
}

#to-top-copy {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin: 0 auto;
    opacity: 0;
}

.copyright {
    font-weight: 300;
    color: #aaa;
}

.copyright p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    /*text-transform: uppercase;*/
}

@media screen and (max-width: 480px) {
    #to-top {
        margin-top: 0px;
    }
    .copyright {
        padding-top: 0px;
        margin-top: 0px;
    }
}
